<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <% if (error_msg) { %>
    <p><%= error_msg %></p>
  <% } %>
  <form action="/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required><br><br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required><br><br>

    <input type="submit" value="Login">
  </form>
  <a href="/register">Register</a>
</body>
</html>
               