<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
</head>
<body>
  <h1>Register</h1>
  <% if (error_msg) { %>
    <p><%= error_msg %></p>
  <% } %>
  <form action="/register" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required><br><br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required><br><br>

    <input type="submit" value="Register">
  </form>
  <a href="/login">Login</a>
</body>
</html>
